@charset "UTF-8";
:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 70%;
  --container-offset: 10%;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.hero__title {
  color: white;
}

body {
  background-color: black;
}

.accordion {
  color: #ffe3e3;
  background-color: aqua;
}
.accordion:hover {
  color: aqua;
}

.accordion:hover .accordion__label:after {
  content: "❯";
}

.accordion__item {
  border-top: 5px solid deeppink;
  cursor: pointer;
}

.accordion__item:hover .accordion__label:after {
  transform: rotate(90deg);
  transition: all 0.35s;
}

.accordion__item:hover > .accordion__content {
  display: block;
  max-height: 100vh;
  background-color: orangered;
  padding: 1em;
  transition: all 0.35s ease-out;
}

.accordion__input:checked + .accordion__label {
  background: #8f1414;
  color: darkblue;
}

.accordion__input:checked + .accordion__label::after {
  transform: rotate(90deg);
  transition: all 0.35s;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
  max-height: 100vh;
  padding: 1em;
  transition: all 0.35s;
}

.accordion__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  background: #b61818;
  user-select: none;
  cursor: inherit;
  transition: all 0.35s;
}

.accordion__content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: green;
  display: none;
  cursor: inherit;
}

.page__body {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vh);
}

/*# sourceMappingURL=main.css.map */
