:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 90%;
  --container-offset: 5%;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.hero__container {
  max-width: 60%;
}
@media (max-width: 1024px) {
  .hero__container {
    max-width: 80%;
  }
}
@media (max-width: 576px) {
  .hero__container {
    max-width: 100%;
  }
}

.hero__title {
  font-size: 2.5em;
  color: white;
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 1.75em;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 1.25em;
  }
}

body {
  background-color: black;
}

@media (hover: hover) {
  .accordion {
    cursor: pointer;
  }
  .accordion .accordion__label {
    color: aqua;
  }
  .accordion:hover .accordion__label {
    color: inherit;
    transition: all 0.35s;
  }
  .accordion:hover .accordion__icon {
    opacity: 1;
    transition: all 0.35s;
  }
  .accordion__item:hover .accordion__icon {
    transform: rotate(90deg);
    transition: all 0.35s;
  }
  .accordion__item:hover .accordion__content {
    height: auto;
    padding: 1em;
  }
}
.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__label {
  color: inherit;
  background: #8f1414;
}

.accordion__input:checked ~ .accordion__label > .accordion__icon {
  transform: rotate(90deg);
  transition: all 0.35s;
}

.accordion__input:checked ~ .accordion__content {
  height: auto;
  padding: 1em;
}
@media (max-width: 1024px) {
  .accordion__input:checked ~ .accordion__content {
    padding: 0.75em;
  }
}
@media (max-width: 576px) {
  .accordion__input:checked ~ .accordion__content {
    padding: 0.25em;
  }
}

.accordion__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em;
  font-size: 1.75em;
  font-weight: bold;
  color: black;
  background: green;
  cursor: inherit;
}
@media (max-width: 1024px) {
  .accordion__label {
    padding: 0.5em;
    font-size: 1.5em;
  }
}
@media (max-width: 576px) {
  .accordion__label {
    padding: 0.25em;
    font-size: 1em;
  }
}

.accordion__icon {
  opacity: 0;
  color: black;
}

.accordion__content {
  display: flex;
  justify-content: center;
  height: 0;
  padding: 0;
  background-color: deeppink;
  overflow: hidden;
  transition: all 0.35s ease-out;
  cursor: inherit;
}

.accordion__image {
  width: 40%;
}
@media (max-width: 1024px) {
  .accordion__image {
    width: 35%;
  }
}
@media (max-width: 576px) {
  .accordion__image {
    width: 30%;
  }
}

.accordion__item {
  border-top: 0.1em solid blue;
}

.accordion__item:active .accordion__label,
.accordion__item:active .accordion__icon {
  color: orangered;
}

.accordion__item:active .accordion__image {
  opacity: 0.6;
}

/*# sourceMappingURL=main.css.map */
